#font-black {
  color: black;
  font-family: "Myriad Pro";
}

.box-wrap {
  margin-top: 50px;
}

.bar {
  background: white;
  display: block;
  height: 15px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: darkgrey 2px 2px 50px;
}

.bar span {
  background: green;
  height: 15px;
  float: left;
}
